@using ModelsApp.ViewModels
@using ModelsApp.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@

    <script type="text/javascript">
        $(function () {
            $('#approve-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>
</head>

    <div class="modal-body">
        <div id="demo" style="margin-top: 40px;">

            <br />
            @Html.ActionLink("Create", "ViewCreate", "Home", null, new { @class = "modal-link btn btn-success" })            
            <br />
            <table class="table">
                <tr>
                    <th>
                        Dish
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Veg_Comment
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        File_ID
                    </th>
                    <th>
                        Edition column
                    </th>
                </tr>
                @foreach (Menu p in Model.Menus)
                {
                    <tr>
                        <td>@p.Dish</td>
                        <td>@p.Description</td>
                        <td>@p.Veg_Comment</td>
                        <td>@p.Price</td>
                        <td>@p.Category</td>
                        <td>@p.File_Id</td>
                        <td>
                            @*<a asp-action="ViewEdit" asp-route-id="@item.Id">Edit</a>*@
                            @Html.ActionLink("Edit", "ViewEdit/" + @p.Id, "Home", null, new { @class = "modal-link btn btn-success" })


                            <div class="btn btn-warning">
                                @*<a asp-action="Delete" asp-route-id="@p.Id" onclick="return confirm('Are sure wants to delete?'); data-ajax="true" data-ajax-update="#divPartial">Delete</a>*@
                                <form asp-action="Delete" asp-route-id="@p.Id" onclick="return confirm('Are sure wants to delete?')" data-ajax="true" data-ajax-update="#divPartial">
                                    <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block" onlick="return confirm('Are you sure want to delete')">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

@section Scripts {
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

</html>