@{
    Layout = null;
}

<!DOCTYPE html>

@using ModelsApp.ViewModels
@using ModelsApp.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />  
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <form class="form-inline">
        <label>Select restaurant ID:</label>
        <select name="fileID" class="form-control">
            @foreach (FileModel file in Model.Files)
            {
                <option value="@file.Id">@file.Name</option>
            }
        </select>
        <input type="submit" />
    </form>


    @*<form class="form-inline">
            <div>
                <label for="name">MENU ID: </label>
                <input type="text" name="fileID" id="french-hens" value="1">
            </div>
            <input type="submit" value="Submit" id="submitButton" style="margin-top: 10px; margin-left: -60px;">
        </form>*@

    <br />

    @*<table class="table">
            <tr>
                <th>
                    Dish
                </th>
                <th>
                    File_ID
                </th>
                <th>
                    Price
                </th>

            </tr>
            @foreach (Menu p in Model.Menus)
            {
                <tr>
                    <td>@p.Dish</td>
                    <td>@p.File_Id</td>
                    <td>@p.Price</td>
                </tr>
            }
        </table>*@


    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>
        <table id="myDatatable">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Description</th>
                    <th>Veg_Comment</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/Home/GetMenus',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "dish", "autoWidth": true },
                    { "data": "description", "autoWidth": true },
                    { "data": "veg_Comment", "autoWidth": true },
                    { "data": "price", "autoWidth": true },
                    { "data": "category", "autoWidth": true },
                    {
                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/sampleMenu/ViewEdit/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/sampleMenu/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>

</body> 
</html>
